# 00. Table of Content
### 01. Importing Libraries & Dataframes
### 02. Merge Data
### 03. Wrangling Department Data for Future Merge
### 04. Exporting Merged Data

# 01. Importing Libraries & Dataframes

In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
# Create path
path = r'C:\Users\krist\22.01.2024 Instacart Basket Analysis'

In [3]:
# Import customer dataframe
df_customer = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_customer.pkl'))

In [4]:
# Import ords_prods_merge dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [ ]:
# Import department data
departments = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

# 02. Merge Data

In [6]:
# Merge data ords_prods_merge and df_customer using user_id as key
df_merge = ords_prods_merge.merge(df_customer, on =['user_id'], how = 'outer', indicator = True)

In [7]:
# Check Merge
df_merge['_merge'].value_counts(dropna = False)

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [8]:
# Check Merge
df_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [9]:
df_merge.dtypes

order_id                           object
user_id                            object
order_number                        int64
order_day_of_week                   int64
order_hour_of_day                   int64
days_since_prior_order            float64
product_id                         object
add_to_cart_order                   int64
reordered                           int64
product_name                       object
aisle_id                           object
department_id                      object
prices                            float64
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
mean_product_price                float64
spending_flag                      object
median_days_since_prior_order     float64
order_frequency_flag               object
first_name                         object
last_name                          object
gender                             object
state                              object
age                                 int64
date_joined                        object
n_dependants                        int64
fam_status                         object
income                              int64
_merge                           category
dtype: object

In [10]:
df_customer.shape

(206209, 10)

In [11]:
df_merge.shape

(32404859, 32)

# 03. Wrangling Department Data for Future Merge

In [14]:
# Check on departments dataframe
departments.dtypes

Unnamed: 0     int64
department    object
dtype: object

In [15]:
departments

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

In [16]:
# Rename department_id column
departments = departments.rename(columns = {'Unnamed: 0':'department_id'})

In [17]:
departments

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [18]:
departments.dtypes

department_id     int64
department       object
dtype: object

In [19]:
# Change department_id datatype
departments['department_id'] = departments['department_id'].astype('str')

In [20]:
departments.dtypes

department_id    object
department       object
dtype: object

# 04. Exporting Merged Data

In [21]:
# Export data to pkl
df_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_all.pkl'))

In [22]:
# Export data to csv
departments.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.pkl'))